<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <form action="home" method="post" enctype="multipart/form-data">
            Hello,
            Welcome to international travel tool. 
            <br></br>
            <input type="radio" name="feature" id="option1" value="1"> Currency Convertor </input><br>
            <input type="radio" name="feature" id="option2" value="2"> MultiCurrency Calculator </input><br>
            <input type="radio" name="feature" id="option3" value="3"> Heritage Site search </input><br>
            <input type="submit" value="Go to feature">
        </form>
    </body>
</html>